server:
  port: 8089

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:bookingdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      acks: all
      retries: 2147483647
      properties:
        linger.ms: 5
        batch.size: 16384
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      enable-idempotence: true
      max-in-flight-requests-per-connection: 1

    consumer:
      group-id: booking-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: '*'

    listener:
      ack-mode: MANUAL
      concurrency: 1

app:
  kafka:
    topic: booking-commands
    partitions: 8
    replicas: 1

logging:
  level:
    root: INFO
    org.springframework.kafka: INFO

management:
  endpoints:
    web:
      exposure:
        include: '*'
